<% if comment.id != nil %>
    <li class="list-group-item row">
        <div style="display: flex; flex-direction: row; align-items: start; padding:0">
            <div class="col-2" style="margin: 0">
                <img src="" style="height: 60px; width: 60px; margin: 0">
            </div>
            
            <div class="col-10" style="flex-direction: column">
                <div class="row" style="justify-content: space-between; padding: 0">
                    <div class="col-11 row">
                        <p class="card-title" style="display: flex; width: auto; max-width: 50%"><%= comment.commenter %></p>
                        <p class="text-muted col-4"><%= comment.updated_at.pretty %></p>
                    </div>

                    <div class="col-1">
                        <%= link_to '', [comment.article, comment],
                                :class => "btn btn-primary btn-sm btn-danger bi bi-x-square",
                                :style => "font-size: 1rem; height: 28px; width: 27px; padding: 0",
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>

                <p>
                    <%= comment.body %>
                </p>
            </div>
        </div>    
    </li>
<% end %>