<%= link_to " Back", article_path, :class => "btn btn-primary btn-sm bi bi-box-arrow-left", :style => "margin-top: .7em; font-size: 1.3rem" %>

<h1 class="text-dark">Edit Article</h1>

<%= render "form", article: @article %>