<div id="articleCarouselControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators rounded-pill bg-opacity-50 w-25 d-flex justify-content-center mx-auto">
        <li data-bs-target="#articleCarouselControls" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#articleCarouselControls" data-bs-slide-to="1"></li>
        <li data-bs-target="#articleCarouselControls" data-bs-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner rounded-start">
        <% top_articles = Article.top_three(articles) %>
        
        <div class="carousel-item active">
            <%= render( :partial => "articles/card2", :locals => { :article => top_articles[0] } ) %>
        </div>

        <div class="carousel-item">
            <%= render( :partial => "articles/card2", :locals => { :article => top_articles[1] } ) %>
        </div>

        <div class="carousel-item">
            <%= render( :partial => "articles/card2", :locals => { :article => top_articles[2] } ) %>
        </div>
    </div>

    <a class="carousel-control-prev bg-dark rounded-circle top-50 start-0 translate-middle-y" style="width: 50px; height: 50px; margin-left: 15px" href="#articleCarouselControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next bg-dark rounded-circle top-50 end-0 translate-middle-y" style="width: 50px; height: 50px; margin-right: 15px" href="#articleCarouselControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>