<div class="jumbotron">
    <div class="container">
        <h1>Share your voice and be heard</h1>
        <p>Check out the articles created by users like yourself</p>
        <br>
        <p>
            <%= button_to 'View All Articles', articles_path, :method => :get, :class => "btn btn-primary btn-lg" %>
        </p>
    </div>
</div>