<div class="jumbotron bg-dark shadow">
    <h1>Share your voice and be heard</h1>
    <p class="jb-text">Check out the articles created by users like yourself</p>
</div>

<br>
<div class="d-flex justify-content-center">
    <div class="border-bottom">
        <h1 class="text-center text-dark">Recent Articles</h1>
    </div>
</div>
<br>

<div class="container d-flex flex-column align-items-center">
    <div class="shadow" style="max-height: 450px !important; max-width: 1100px !important">
        <% @articles = Article.all.order("created_at DESC") %>
        <% if @articles.length < 3 %>
            <% "No articles to render" %>
        <% else %>
            <%= render( :partial => "home/carousel", :locals => { :articles => @articles } )%>
        <% end %>
    </div>
    <br>

    <p class="mt-5">
        <%= button_to 'View All Articles', articles_path, :method => :get, :class => "btn btn-primary btn-lg" %>
    </p>
</div>