/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.article_header {
   color: #000
}

.title-link:hover {
   color: rgb(124, 124, 124)
}

.link-custom-grey {
   color: rgb(116, 116, 116)
}

.link-custom-grey:hover,
.link-custom-grey:focus {
   color: #000
}

.link-custom-grey:visited {
   color: #777
}

a.bi-trash {
   color: #222
}

a.bi-pencil-square {
   color: #222
}

a.bi-heart {
   color: #222
}

a.bi-heart:hover {
   color: #fff
}

a.bi-heart-fill {
   color: rgb(184, 3, 3)
}

a.bi-heart-fill:hover {
   color: #fff
}

a.bi-box-arrow-left {
   color: #222
}

a.bi-box-arrow-left:hover {
   color: #fff
}